<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment 1 backend</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/a891bda96a.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>
                <ul>
                    <li><a href="/" aria-current="page"><i class="fa-solid fa-house"></i><span
                                class="prompt">Startsida</span></a></li>
                    <li><a href="/add"><i class="fa-solid fa-circle-plus"></i><span class="prompt">Lägg till
                                kurs</span></a></li>
                    <li><a href="/about"><i class="fa-solid fa-code"></i><span class="prompt">Om sidan</span></a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="content">
                <div class="info">
                    <img src="undraw_book.svg" alt="Illustration av kvinna med en bok">
                    <div class="infotext">
                        <h1>Befintliga kurser</h1>
                        <p>Här kan du se dina kurser samlade på ett smidigt ställe.</p>
                    </div> <!-- Slut på infotext -->
                </div> <!-- Slut på info -->
            </div> <!-- Slut på content -->
        </main>
    </div> <!-- Slut på wrapper -->
</body>

</html>