@use 'assets';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 2600px;
    margin: auto;
    width: 100%;
    overflow-x: hidden;
    font-family: assets.$font;
    line-height: 1.6;
    background-color: #ececec;
}
