@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 2300px;
    margin: auto;
    width: 100%;
    overflow-x: hidden;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
